.container
  h3(v-if="submitted") Thanks for adding your character!
  form(v-if="!submitted")
    .row.mb-2
      .col-md-12.golden-border
        .paragraph-create
          | You roll a 
          md-field.md-theme-dark
            label(for="charClass") Class
            md-select(v-model="characterClass" name="charClass")
              md-option(v-for="(aClass, key) in classes" v-bind:key="classes[aClass]" v-bind:value="key") {{ aClass.title }}
          |  .
          br
          md-field.md-theme-dark
            label(for="charGender") Gender
            md-select(v-model="characterGender" name="charGender")
              md-option(value="male") He
              md-option(value="female") She
              md-option(value="neutral") It
          |  is a 
          md-field.md-theme-dark
            label(for="charRace") Race
            md-select(v-model="characterRace" name="charRace" @md-selected="clearSubrace")
              md-option(v-for="(race, key) in races" v-bind:key="races[race]" v-bind:value="key") {{ race.title }}
          |  
          md-field.md-theme-dark(v-if="characterRace")
            label(for="charSubrace") Subrace
            md-select(v-model="characterSubrace" name="charSubrace")
              md-option(v-for="(subrace, key) in races[characterRace].subraces" v-bind:key="races[characterRace].subraces[subrace]" v-bind:value="key") {{ subrace.title }}
          |  who used to be a 
          md-field.md-theme-dark
            label(for="charBackground") Background
            md-select(v-model="characterBackground" name="charBackground")
              md-option(v-for="(background, key) in backgrounds" v-bind:key="backgrounds[background]" v-bind:value="key") {{ background.title }}
          |  .
          br
          | {{ characterGender | genderPosessive | capitalize }} name is 
          input.form-control.input-inline(type="text" placeholder="Character Name" v-model="characterName")
          |  and {{ characterGender | genderPronoun }} is usually 
          select.form-control.input-inline(v-model="characterAlignment")
            option(value="Lawful Good") Lawful Good
            option(value="Neutral Good") Neutral Good
            option(value="Chaotic Good") Chaotic Good
            option(value="Lawful Neutral") Lawful Neutral
            option(value="True Neutral") True Neutral
            option(value="Chaotic Neutral") Chaotic Neutral
            option(value="Lawful Evil") Lawful Evil
            option(value="Neutral Evil") Neutral Evil
            option(value="Chaotic Evil") Chaotic Evil
          |  .

    .row.mb-2
      .col-md-3.golden-border
        h3 Stuff
        div(v-if="true") Health {{ healthBonusFromFeats }}
        div Passive perception
        div Initiative
        div Combat proficiencies
        div Languages

      .col-md-3.golden-border
        h3 Feats
        .feat-list
          .feat-list-item(v-for="feat in characterFeats")
            .feat-name {{ feats[feat].title }}
            .feat-description {{ feats[feat].description }}

      .col-md-6.golden-border
        h3 Skills
        .md-layout
          .md-layout-item
            .title-h4 Strength {{ characterStrength | getModifier | decoratePositive }}
            md-checkbox(v-model="characterSkills" value="athletics") Athletics (Str)
            
            .title-h4 Wisdom {{ characterWisdom | getModifier | decoratePositive }}
            md-checkbox(v-model="characterSkills" value="animalHandling") Animal Handling (Wis)
            md-checkbox(v-model="characterSkills" value="medicine") Medicine (Wis)
            md-checkbox(v-model="characterSkills" value="perception") Perception (Wis)
            md-checkbox(v-model="characterSkills" value="survival") Survival (Wis)
            
            .title-h4 Charisma {{ characterCharisma | getModifier | decoratePositive }}
            md-checkbox(v-model="characterSkills" value="deception") Deception (Cha)
            md-checkbox(v-model="characterSkills" value="intimidation") Intimidation (Cha)
            md-checkbox(v-model="characterSkills" value="performance") Performance (Cha)
            md-checkbox(v-model="characterSkills" value="persuasion") Persuasion (Cha)
          
          .md-layout-item
            .title-h4 Dexterity {{ characterDexterity | getModifier | decoratePositive }}
            md-checkbox(v-model="characterSkills" value="acrobatics") Acrobatics (Dex)
            md-checkbox(v-model="characterSkills" value="sleightOfHand") Sleight of Hand (Dex)
            md-checkbox(v-model="characterSkills" value="stealth") Stealth (Dex)
              
            .title-h4 Intelligence {{ characterIntelligence | getModifier | decoratePositive }}
            md-checkbox(v-model="characterSkills" value="arcana") Arcana (Int)
            md-checkbox(v-model="characterSkills" value="history") History (Int)
            md-checkbox(v-model="characterSkills" value="investigation") Investigation (Int)
            md-checkbox(v-model="characterSkills" value="nature") Nature (Int)
            md-checkbox(v-model="characterSkills" value="religion") Religion (Int)
            md-checkbox(v-model="characterSkills" value="insight") Insight (Wis)
          
        p {{ characterSkills }}


    .row.mb-2
      .col-md-6.golden-border
        h3 Ability Scores 
          button.btn.btn-large.btn-primary.btn-sm(type="button" @click="rollAbilities") Roll
        table
          tr
            td(width="100") Strength 
            td(width="100")
              input.form-control(placeholder="Str" v-model="characterStrength")
            td {{ characterStrength | getModifier | decoratePositive }}
          tr
            td Dexterity
            td
              input.form-control(placeholder="Dex" v-model="characterDexterity")
            td {{ characterDexterity | getModifier | decoratePositive }}
          tr
            td Constitution 
            td
              input.form-control(v-model="characterConstitution")
            td {{ characterConstitution | getModifier | decoratePositive }}
          tr
            td Intelligence
            td
              input.form-control(placeholder="Int" v-model="characterIntelligence")
            td {{ characterIntelligence | getModifier | decoratePositive }}
          tr
            td Wisdom
            td
              input.form-control(placeholder="Wis" v-model="characterWisdom")
            td {{ characterWisdom | getModifier | decoratePositive }}
          tr
            td Charisma
            td
              input.form-control(placeholder="Cha" v-model="characterCharisma")
            td {{ characterCharisma | getModifier | decoratePositive }}

      .col-md-6.golden-border
        h3 Equipment
        textarea Stuff and loot

    .row
      .col-md-12
        button.btn.btn-large.btn-primary(type="button" @click="addToAPI") Сохранить
        | 
        button.btn.btn-large.btn-primary(type="button" @click="testDice") Тест дайсов
