.container
  h3(v-if="submitted") Thanks for adding your character!
  form(v-if="!submitted")
    .row.mb-2
      .col-md-12.golden-border
        .paragraph-create
          | You roll a 
          md-field.md-theme-dark
            label(for="characterClass") Class
            md-select(v-model="Character.class" name="characterClass" id="characterClass")
              md-option(v-for="(aClass, key) in classes" v-bind:key="classes[aClass]" v-bind:value="key") {{ aClass.title }}
          |  .
          br
          md-field.md-theme-dark
            label(for="characterGender") Gender
            md-select(v-model="Character.gender" name="characterGender" id="characterGender")
              md-option(value="male") He
              md-option(value="female") She
              md-option(value="neutral") It
          |  is a 
          md-field.md-theme-dark
            label(for="characterRace") Race
            md-select(v-model="Character.race" name="characterRace" id="characterRace")
              md-option(v-for="(race, key) in races" v-bind:key="races[race]" v-bind:value="key") {{ race.title }}
          |  
          md-field.md-theme-dark(v-if="Character.race")
            label(for="characterSubrace") Subrace
            md-select(v-model="Character.subrace" name="characterSubrace" id="characterSubrace")
              md-option(v-for="(subrace, key) in races[Character.race].subraces" v-bind:key="races[Character.race].subraces[subrace]" v-bind:value="key") {{ subrace.title }}
          |  who used to be a 
          md-field.md-theme-dark
            label(for="characterBackground") Background
            md-select(v-model="Character.background" name="characterBackground" id="characterBackground")
              md-option(v-for="(background, key) in backgrounds" v-bind:key="backgrounds[background]" v-bind:value="key") {{ background.title }}
          |  .
          br
          | {{ Character.gender | genderPosessive | capitalize }} name is 
          input.form-control.input-inline(type="text" placeholder="Character Name" v-model="Character.characterName")
          |  and {{ Character.gender | genderPronoun }} is usually 
          select.form-control.input-inline(v-model="Character.alignment")
            option(value="Lawful Good") Lawful Good
            option(value="Neutral Good") Neutral Good
            option(value="Chaotic Good") Chaotic Good
            option(value="Lawful Neutral") Lawful Neutral
            option(value="True Neutral") True Neutral
            option(value="Chaotic Neutral") Chaotic Neutral
            option(value="Lawful Evil") Lawful Evil
            option(value="Neutral Evil") Neutral Evil
            option(value="Chaotic Evil") Chaotic Evil
          |  .

    .row.mb-2
      .col-md-3.golden-border
        h3 Feats
        .feat-list(v-if="Character.background && Character.subrace")
          .feat-list-item(v-for="feat in Character.feats")
            .feat-name {{ feats[feat].title }}
            .feat-description {{ feats[feat].description }}

      .col-md-3.golden-border
        h3 Proficiencies

      .col-md-3.golden-border
        h3 Languages

    .row.mb-2
      .col-md-6.golden-border
        h3 Ability Scores 
          button.btn.btn-large.btn-primary.btn-sm(type="button" @click="testDice") Roll
        table
          tr
            td(width="100") Strength 
            td(width="100")
              input.form-control(placeholder="Str" v-model="Character.strength")
            td
          tr
            td Dexterity
            td
              input.form-control(placeholder="Dex" v-model="Character.dexterity")
            td
          tr
            td Constitution 
            td
              input.form-control(placeholder="Con" v-model="Character.constitution")
            td
          tr
            td Intelligence
            td
              input.form-control(placeholder="Int" v-model="Character.intelligence")
            td
          tr
            td Wisdom
            td
              input.form-control(placeholder="Wis" v-model="Character.wisdom")
            td
          tr
            td Charisma
            td
              input.form-control(placeholder="Cha" v-model="Character.charisma")
            td

    .row
      .col-md-12
        button.btn.btn-large.btn-primary(type="button" @click="addToAPI") Сохранить
        | 
        button.btn.btn-large.btn-primary(type="button" @click="testDice") Тест дайсов
