.container
  // Class skills dialog
  md-dialog.dialog(:md-active.sync="skillsDialog" :md-fullscreen="false")
    md-dialog-title Select {{ skillsAllowed }} skills
    .md-layout(md-dynamic-height)
      .md-layout-item
        | Your class allows you to be proficient in {{ skillsAllowed }} of these skills.
        br
        br
        md-checkbox(v-if="skillsChoice.includes('athletics')" v-model="characterSkills" value="athletics") Athletics (Str)
        md-checkbox(v-if="skillsChoice.includes('animalHandling')" v-model="characterSkills" value="animalHandling") Animal Handling (Wis)
        md-checkbox(v-if="skillsChoice.includes('medicine')" v-model="characterSkills" value="medicine") Medicine (Wis)
        md-checkbox(v-if="skillsChoice.includes('perception')" v-model="characterSkills" value="perception") Perception (Wis)
        md-checkbox(v-if="skillsChoice.includes('survival')" v-model="characterSkills" value="survival") Survival (Wis)
        md-checkbox(v-if="skillsChoice.includes('deception')" v-model="characterSkills" value="deception") Deception (Cha)
        md-checkbox(v-if="skillsChoice.includes('intimidation')" v-model="characterSkills" value="intimidation") Intimidation (Cha)
        md-checkbox(v-if="skillsChoice.includes('performance')" v-model="characterSkills" value="performance") Performance (Cha)
        md-checkbox(v-if="skillsChoice.includes('persuasion')" v-model="characterSkills" value="persuasion") Persuasion (Cha)
        md-checkbox(v-if="skillsChoice.includes('acrobatics')" v-model="characterSkills" value="acrobatics") Acrobatics (Dex)
        md-checkbox(v-if="skillsChoice.includes('sleightOfHand')" v-model="characterSkills" value="sleightOfHand") Sleight of Hand (Dex)
        md-checkbox(v-if="skillsChoice.includes('stealth')" v-model="characterSkills" value="stealth") Stealth (Dex)
        md-checkbox(v-if="skillsChoice.includes('arcana')" v-model="characterSkills" value="arcana") Arcana (Int)
        md-checkbox(v-if="skillsChoice.includes('history')" v-model="characterSkills" value="history") History (Int)
        md-checkbox(v-if="skillsChoice.includes('investigation')" v-model="characterSkills" value="investigation") Investigation (Int)
        md-checkbox(v-if="skillsChoice.includes('nature')" v-model="characterSkills" value="nature") Nature (Int)
        md-checkbox(v-if="skillsChoice.includes('religion')" v-model="characterSkills" value="religion") Religion (Int)
        md-checkbox(v-if="skillsChoice.includes('insight')" v-model="characterSkills" value="insight") Insight (Int)
      
    md-dialog-actions
      md-button.md-primary(@click="skillsDialog = false") Close
      md-button.md-primary(v-if="skillpoints == 0" @click="skillsDialog = false") Confirm
      md-button.md-primary(v-if="skillpoints > 0" @click="skillsDialog = false, skillsDialogNext = true") Next  

  // Remaining skills dialog
  md-dialog.dialog(:md-active.sync="skillsDialogNext" :md-fullscreen="false")
    md-dialog-title Select {{ skillpoints }} skills
    .md-layout(md-dynamic-height)
      .md-layout-item
        | Your class allows you to be proficient in {{ skillpoints }} of these skills.
        br
        br
        md-checkbox(v-model="characterSkills" value="athletics") Athletics (Str)
        md-checkbox(v-model="characterSkills" value="animalHandling") Animal Handling (Wis)
        md-checkbox(v-model="characterSkills" value="medicine") Medicine (Wis)
        md-checkbox(v-model="characterSkills" value="perception") Perception (Wis)
        md-checkbox(v-model="characterSkills" value="survival") Survival (Wis)
        md-checkbox(v-model="characterSkills" value="deception") Deception (Cha)
        md-checkbox(v-model="characterSkills" value="intimidation") Intimidation (Cha)
        md-checkbox(v-model="characterSkills" value="performance") Performance (Cha)
        md-checkbox(v-model="characterSkills" value="persuasion") Persuasion (Cha)
        md-checkbox(v-model="characterSkills" value="acrobatics") Acrobatics (Dex)
        md-checkbox(v-model="characterSkills" value="sleightOfHand") Sleight of Hand (Dex)
        md-checkbox(v-model="characterSkills" value="stealth") Stealth (Dex)
        md-checkbox(v-model="characterSkills" value="arcana") Arcana (Int)
        md-checkbox(v-model="characterSkills" value="history") History (Int)
        md-checkbox(v-model="characterSkills" value="investigation") Investigation (Int)
        md-checkbox(v-model="characterSkills" value="nature") Nature (Int)
        md-checkbox(v-model="characterSkills" value="religion") Religion (Int)
        md-checkbox(v-model="characterSkills" value="insight") Insight (Int)

    md-dialog-actions
      md-button.md-primary(v-if="skillsAllowed" @click="skillsDialogNext = false, skillsDialog = true") Back
      md-button.md-primary(@click="skillsDialogNext = false") Confirm
  
  h3(v-if="submitted") Thanks for adding your character!
  
  form(v-if="!submitted")
    .md-layout
      .md-layout-item.golden-border.md-xsmall-size-100.md-small-size-50.md-medium-size-50.md-large-size-33.md-xlarge-size-33
        .md-title Rejoice, for it is...
        md-field
          label Character Name
          md-input(v-model="characterName")

        md-field
          label(for="charRace") Race
          md-select(v-model="characterRace" name="charRace")
            md-option(v-for="(race, key) in races" v-bind:key="races[race]" v-bind:value="key") {{ race.title }}

        md-field(v-if="characterRace && races[characterRace].subraces")
          label(for="charSubrace") Subrace
          md-select(v-model="characterSubrace" name="charSubrace")
            md-option(v-for="(subrace, key) in races[characterRace].subraces" v-bind:key="races[characterRace].subraces[subrace]" v-bind:value="key") {{ subrace.title }}

        md-field
          label(for="charClass") Class
          md-select(v-model="characterClass" name="charClass")
            md-option(v-for="(aClass, key) in classes" v-bind:key="classes[aClass]" v-bind:value="key") {{ aClass.title }}

        md-field
          label(for="charBackground") Background
          md-select(v-model="characterBackground" name="charBackground")
            md-option(v-for="(background, key) in backgrounds" v-bind:key="backgrounds[background]" v-bind:value="key") {{ background.title }}

      template
        attributes(@updateCharacter="updateCharacter"
                   :strengthBonus="strengthBonus"
                   :dexterityBonus="dexterityBonus"
                   :constitutionBonus="constitutionBonus"
                   :intelligenceBonus="intelligenceBonus"
                   :wisdomBonus="wisdomBonus"
                   :charismaBonus="charismaBonus")

      .md-layout.md-layout-item.md-small-size-100.golden-border.md-large-size-33.md-xlarge-size-33
        .md-layout.md-layout-item.md-small-size-100
          .md-layout-item.md-xsmall-size-50.md-small-size-33
            md-icon security 
            |  AC: {{ characterDexterity | getModifier | add(10) }}
          .md-layout-item.md-xsmall-size-50.md-small-size-33
            md-icon favorite 
            |  Health: {{ healthBonusFromFeats }}
          .md-layout-item.md-xsmall-size-50.md-small-size-33
            md-icon track_changes 
            |  Initiative: {{ characterDexterity | getModifier | decoratePositive }}
          
          .md-layout-item.md-xsmall-size-50.md-small-size-33
            md-icon verified_user 
            |  Speed: {{ characterSpeed }}
          .md-layout-item.md-xsmall-size-50.md-small-size-33
            md-icon vibration 
            |  Awareness: {{ characterWisdom | getModifier | add(10) }}

        .md-layout-item.md-small-size-100.md-medium-size-100.md-large-size-100.md-xlarge-size-100
          .md-subtitle.m-1
            | Combat proficiencies: 
            br 
            | {{ characterProficienciesCombat }}

          .md-subtitle.m-1
            | Tool proficiencies: 
            br 
            | {{ characterTools | flattenArray }}

          md-field
            md-icon sms
            label Languages
            md-input(v-model="totalLanguages")

    .md-layout
      .md-layout-item.golden-border.md-small-size-100.md-medium-size-50.md-large-size-33.md-xlarge-size-33
        h3 Feats
        .feat-list
          .feat-list-item(v-for="feat in characterFeats")
            .feat-name {{ feats[feat].title }}
            .feat-description {{ feats[feat].description }}

      .md-layout.md-layout-item.golden-border.md-small-size-100.md-medium-size-50.md-large-size-33.md-xlarge-size-33
        .md-layout-item
          .md-title Skills
          .title-h4 Strength {{ characterStrength | getModifier | decoratePositive }}
          p
            md-icon(v-if="characterSkills.includes('athletics')") star
            | Athletics
          
          .title-h4 Wisdom {{ characterWisdom | getModifier | decoratePositive }}
          p
            md-icon(v-if="characterSkills.includes('animalHandling')") star
            | Animal Handling
          p
            md-icon(v-if="characterSkills.includes('medicine')") star
            | Medicine
          p
            md-icon(v-if="characterSkills.includes('perception')") star
            | Perception
          p
            md-icon(v-if="characterSkills.includes('survival')") star
            | Survival
          
          .title-h4 Charisma {{ characterCharisma | getModifier | decoratePositive }}
          p
            md-icon(v-if="characterSkills.includes('deception')") star
            | Deception
          p
            md-icon(v-if="characterSkills.includes('intimidation')") star
            | Intimidation
          p
            md-icon(v-if="characterSkills.includes('performance')") star
            | Performance
          p
            md-icon(v-if="characterSkills.includes('persuasion')") star
            | Persuasion
        
        .md-layout-item
          .md-title &nbsp;
          .title-h4 Dexterity {{ characterDexterity | getModifier | decoratePositive }}
          p
            md-icon(v-if="characterSkills.includes('acrobatics')") star
            | Acrobatics
          p
            md-icon(v-if="characterSkills.includes('sleightOfHand')") star
            | Sleight of Hand
          p
            md-icon(v-if="characterSkills.includes('stealth')") star
            | Stealth
            
          .title-h4 Intelligence {{ characterIntelligence | getModifier | decoratePositive }}
          p
            md-icon(v-if="characterSkills.includes('arcana')") star
            | Arcana
          p
            md-icon(v-if="characterSkills.includes('history')") star
            | History
          p
            md-icon(v-if="characterSkills.includes('investigation')") star
            | Investigation
          p
            md-icon(v-if="characterSkills.includes('nature')") star
            | Nature
          p
            md-icon(v-if="characterSkills.includes('religion')") star
            | Religion
          p
            md-icon(v-if="characterSkills.includes('insight')") star
            | Insight
  
      .md-layout-item.golden-border.md-large-size-33.md-xlarge-size-33
        md-field
          md-icon fingerprint
          label Gold
          md-input(v-model="characterGold" type="number")

        .md-subtitle
          | Equipment and loot
          br
          | {{ characterItems }}

    .md-layout
      .md-layout-item
        md-button.md-primary.md-raised(type="button" @click="addToAPI") Сохранить
