md-tabs.md-primary.mb-2(md-sync-route md-alignment="right")
  md-tab#tab-tavern(md-label="Tavern" to="/" md-icon="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMS45NjIgMjEuOTYyIj48cGF0aCBkPSJNMS4zMzQgOS4zNjhDMy4xOCAzLjQzNSA5LjgwMyA0LjA2OSA5LjgwMyA0LjA2OUw0LjMzIDEuMDE2IDIuNjYxLjIwOWMtMS42NzQtLjgwNi0xLjMyNy45NzktMS4zMjcuOTc5djguMTh6TTEuMzM0IDEyLjU5NXY4LjE4cy0uMzQ3IDEuNzg0IDEuMzI3Ljk3OGwxLjY2OS0uODA3IDUuNDczLTMuMDUzYzAgLjAwMS02LjYyNC42MzUtOC40NjktNS4yOTh6TTIwIDEwLjMzbC0xLjU1Ni0xLjAwNS01LjQ1OC0zLjA3OHMzLjk5MSA1LjMyMS0uMTA5IDkuOTg5bDYuOTc5LTQuMjY0czEuNzA1LS42MzUuMTQ0LTEuNjQyeiIvPjxjaXJjbGUgY3g9IjguMDc1IiBjeT0iMTAuOTgxIiByPSI0LjI0Ii8+PC9")
  md-tab#tab-new(md-label="New Character" to="/add-character" md-icon="pages")
