.container

  .roll-queue
    .queue-item(v-for="roll in rollQueue")
      span.roll-date {{ roll.date }} 
      span.roll-string {{ roll.string }} 
      span.roll-note {{ roll.note }}

  #navigation
    md-button.md-dense.md-raised.md-primary(to="/create") Add Character

  .md-layout(v-if="isLoading")
    .md-layout-item.text-center
      template
        spinner

  .md-layout(v-if="!isLoading && !noLocalCharactersFound")
    .md-layout-item.golden-border.md-medium-size-100.md-large-size-50.md-xlarge-size-33(v-for="char in tavernList")
      router-link.md-title(:to="'/charsheet/' + char._id") {{ char.name }}
      .md-body
        | lvl. {{ char.level }} {{ char.race }} 
        span(v-if="char.subrace") ({{ char.subrace }}) 
        | / {{ char.clas }}
        br
        | Background: {{ char.background }}.
        br
        | S:{{ char.strength }} D:{{ char.dexterity }} C:{{ char.constitution }} 
        | I:{{ char.intelligence }} W:{{ char.wisdom }} Ch:{{ char.charisma }}
        br
        a.delete-icon(@click="deleteCharacter(char._id)")
          md-icon close
          | delete
