.container
  .row.text-center
    template(v-if="isLoading")
      spinner

  .row(v-if="!isLoading")
    .col-md-12.golden-border.mb-1
      table.table.table-striped.table-borderes
        thead
          tr
            th Name: {{ characterName }}
            th Race: {{ characterRace }}
            th Class: {{ characterClass }}

    .col-md-6.golden-border
      .stat-block Strength: {{ characterStrength }}
      .stat-block Dexterity: {{ characterDexterity }}
      .stat-block Constitution: {{ characterConstitution }}
      .stat-block Intelligence: {{ characterIntelligence }}
      .stat-block Wisdom: {{ characterWisdom }}
      .stat-block Charisma: {{ characterCharisma }}
