.container
  .md-layout.mt-1(v-if="isLoading")
    template
      spinner

  .character-sheet(v-if="!isLoading")
    .roll-queue
      .queue-item(v-for="roll in rollQueue") 
        span.roll-date {{ roll.date }} 
        span.roll-string {{ roll.string }} 
        span.roll-note {{ roll.note }}
    
    .character-bar
      .character-name {{ Character.name | capitalize }}
      .character-race-class 
        span(v-if="!Character.subrace") {{ Character.race | capitalize }}
        span(v-if="Character.subrace")  {{ Character.subrace | capitalize }} 
        span {{ Character.clas | capitalize }}
      .character-level 
        span lv. 
        | {{ Character.level }}

    .md-layout
      .md-layout-item.character-attributes.golden-border.md-large-size-50.md-xlarge-size-60
        .attribute-column
          .attribute-bg
            a.attribute-name(@click="rollAttribute('strength')") STR
            .attribute-value {{ Character.strength }}
            .attribute-modifier {{ Character.strength | getModifier | decoratePositive }}
          .attribute-skills
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('strength') ? 'skillStar' : '' ]")
              a(@click="roll('strength', 'strength')") Saving Throw {{ getSkillBonus('strength', 'strength') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('athletics') ? 'skillStar' : '' ]")
              a(@click="roll('strength', 'athletics')") Athletics {{ getSkillBonus('strength', 'athletics') | decoratePositive }}

        .attribute-column
          .attribute-bg
            a.attribute-name(@click="rollAttribute('dexterity')") DEX
            .attribute-value {{ Character.dexterity }}
            .attribute-modifier {{ Character.dexterity | getModifier | decoratePositive }}
          .attribute-skills
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('dexterity') ? 'skillStar' : '' ]")
              a(@click="roll('dexterity', 'dexterity')") Saving Throw {{ getSkillBonus('dexterity', 'dexterity') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('acrobatics') ? 'skillStar' : '' ]")
              a(@click="roll('dexterity', 'acrobatics')") Acrobatics {{ getSkillBonus('dexterity', 'acrobatics') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('sleightOfHand') ? 'skillStar' : '' ]")
              a(@click="roll('dexterity', 'sleightOfHand')") Sleight of Hand {{ getSkillBonus('dexterity', 'sleightOfHand') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('stealth') ? 'skillStar' : '' ]")
              a(@click="roll('dexterity', 'stealth')") Stealth {{ getSkillBonus('dexterity', 'stealth') | decoratePositive }}

        .attribute-column
          .attribute-bg
            a.attribute-name(@click="rollAttribute('constitution')") CON
            .attribute-value {{ Character.constitution }}
            .attribute-modifier {{ Character.constitution | getModifier | decoratePositive }}
          .attribute-skills
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('constitution') ? 'skillStar' : '' ]")
              a(@click="roll('constitution', 'constitution')") Saving Throw {{ getSkillBonus('constitution', 'constitution') | decoratePositive }}

        .attribute-column
          .attribute-bg
            a.attribute-name(@click="rollAttribute('intelligence')") INT
            .attribute-value {{ Character.intelligence }}
            .attribute-modifier {{ Character.intelligence | getModifier | decoratePositive }}
          .attribute-skills
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('intelligence') ? 'skillStar' : '' ]")
              a(@click="roll('intelligence', 'intelligence')") Saving Throw {{ getSkillBonus('intelligence', 'intelligence') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('arcana') ? 'skillStar' : '' ]")
              a(@click="roll('intelligence', 'arcana')") Arcana {{ getSkillBonus('intelligence', 'arcana') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('history') ? 'skillStar' : '' ]")
              a(@click="roll('intelligence', 'history')") History {{ getSkillBonus('intelligence', 'history') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('investigation') ? 'skillStar' : '' ]")
              a(@click="roll('intelligence', 'investigation')") Investigation {{ getSkillBonus('intelligence', 'investigation') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('nature') ? 'skillStar' : '' ]")
              a(@click="roll('intelligence', 'nature')") Nature {{ getSkillBonus('intelligence', 'nature') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('religion') ? 'skillStar' : '' ]")
              a(@click="roll('intelligence', 'religion')") Religion {{ getSkillBonus('intelligence', 'religion') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('insight') ? 'skillStar' : '' ]")
              a(@click="roll('intelligence', 'insight')") Insight {{ getSkillBonus('intelligence', 'insight') | decoratePositive }}

        .attribute-column
          .attribute-bg
            a.attribute-name(@click="rollAttribute('wisdom')") WIS
            .attribute-value {{ Character.wisdom }}
            .attribute-modifier {{ Character.wisdom | getModifier | decoratePositive }}
          .attribute-skills
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('wisdom') ? 'skillStar' : '' ]")
              a(@click="roll('wisdom', 'wisdom')") Saving Throw {{ getSkillBonus('wisdom', 'wisdom') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('animalHandling') ? 'skillStar' : '' ]")
              a(@click="roll('wisdom', 'animalHandling')") Animal Handling {{ getSkillBonus('wisdom', 'animalHandling') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('medicine') ? 'skillStar' : '' ]")
              a(@click="roll('wisdom', 'medicine')") Medicine {{ getSkillBonus('wisdom', 'medicine') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('perception') ? 'skillStar' : '' ]")
              a(@click="roll('wisdom', 'perception')") Perception {{ getSkillBonus('wisdom', 'perception') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('survival') ? 'skillStar' : '' ]")
              a(@click="roll('wisdom', 'survival')") Survival {{ getSkillBonus('wisdom', 'survival') | decoratePositive }}

        .attribute-column
          .attribute-bg
            a.attribute-name(@click="rollAttribute('charisma')") CHA
            .attribute-value {{ Character.charisma }}
            .attribute-modifier {{ Character.charisma | getModifier | decoratePositive }}
          .attribute-skills
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('charisma') ? 'skillStar' : '' ]")
              a(@click="roll('charisma', 'charisma')") Saving Throw {{ getSkillBonus('charisma', 'charisma') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('deception') ? 'skillStar' : '' ]")
              a(@click="roll('charisma', 'deception')") Deception {{ getSkillBonus('charisma', 'deception') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('intimidation') ? 'skillStar' : '' ]")
              a(@click="roll('charisma', 'intimidation')") Intimidation {{ getSkillBonus('charisma', 'intimidation') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('performance') ? 'skillStar' : '' ]")
              a(@click="roll('charisma', 'performance')") Performance {{ getSkillBonus('charisma', 'performance') | decoratePositive }}
            .attribute-skills-item(v-bind:class="[ Character.skills.includes('persuasion') ? 'skillStar' : '' ]")
              a(@click="roll('charisma', 'persuasion')") Persuasion {{ getSkillBonus('charisma', 'persuasion') | decoratePositive }}

      .md-layout.md-layout-item.golden-border.md-large-size-50.md-xlarge-size-40
        .md-layout-item.md-xlarge-size-33 {{ armorClass }} Armor Class
        .md-layout-item.md-xlarge-size-33 {{ maxHealth }} Hit Points
        .md-layout-item.md-xlarge-size-33 Initiative
        .md-layout-item.md-xlarge-size-100
          table(width="100%")
            tr
              td +7
              td
                md-field
                  label(for="charArmor") Armor
                  md-select(v-model="Character.armor" name="charArmor")
                    md-option(v-for="(armor, key) in armors" v-bind:key="armors[armor]" v-bind:value="key") {{ armor.title }} (AC: {{ armor.ac }})
              td 1d6 + 7
            tr
              td +7
              td
                md-field
                  label(for="charWeapon1") Weapon Melee
                  md-select(v-model="Character.weaponMelee" name="charWeapon1")
                    md-option(v-for="(weapon, key) in weaponsM" v-bind:key="weaponsM[weapon]" v-bind:value="key") {{ weapon.title }} ({{ weapon.damage }} {{ weapon.damageType}})
              td 1d6 + 7
            tr
              td +7
              td
                md-field
                  label(for="charWeapon2") Weapon Melee Alternative
                  md-select(v-model="Character.weaponMelee2" name="charWeapon2")
                    md-option(v-for="(weapon, key) in weaponsM" v-bind:key="weaponsM[weapon]" v-bind:value="key") {{ weapon.title }} ({{ weapon.damage }} {{ weapon.damageType}})
              td 1d6 + 7

    .md-layout
      .md-layout.md-layout-item.golden-border.md-xlarge-size-30
        .md-layout-item.md-xlarge-size-25
          md-field.money-input
            label Copper
            md-input(v-model="Character.copper" type="number")
        .md-layout-item.md-xlarge-size-25
          md-field.money-input
            label Silver
            md-input(v-model="Character.copper" type="number")
        .md-layout-item.md-xlarge-size-25
          md-field.money-input
            label Gold
            md-input(v-model="Character.copper" type="number")
        .md-layout-item.md-xlarge-size-25
          md-field.money-input
            label Platinum
            md-input(v-model="Character.copper" type="number")
        .md-layout-item.md-xlarge-size-100
          md-field
            label Items
            md-textarea(v-model="Character.items" md-autogrow)

      .md-layout-item.golden-border.md-xlarge-size-30
        md-field
          label Combat Proficiencies
          md-textarea(v-model="Character.proficienciesCombat" md-autogrow)
        md-field
          label Tool Proficiencies
          md-textarea(v-model="Character.tools" md-autogrow)
        md-field
          label Items
          md-textarea(v-model="Character.languages" md-autogrow)

      .md-layout-item.golden-border.md-xlarge-size-40
        .md-title Feats
        ul.feat-list.feat-list-view
          li.feat-list-item(v-for="feat in Character.feats")
            .feat-name {{ feats[feat].title }}
            .feat-description {{ feats[feat].description }}

    .md-layout
      .md-layout-item
        md-button.md-primary.md-raised(type="button" @click="updateAPI") Update
