.container
  .md-layout(v-if="isLoading")
    .md-layout-item
      template
        spinner

  .md-layout.golden-border(v-if="!isLoading")
    .character-row(v-for="char_alias in Character")
      a.md-title(v-bind:href="'/charsheet/' + char_alias._id") {{ char_alias.characterName }}
      .md-body
        | lvl. {{ char_alias.characterLevel }} {{ char_alias.characterRace }} ({{ char_alias.characterSubrace }}) / {{ char_alias.characterClass }}
        br
        | Background: {{ char_alias.characterBackground }}.
        br
        | S:{{ char_alias.characterStrength }} D:{{ char_alias.characterDexterity }} C:{{ char_alias.characterConstitution }} 
        | I:{{ char_alias.characterIntelligence }} W:{{ char_alias.characterWisdom }} Ch:{{ char_alias.characterCharisma }}
        br
        a.delete-icon(@click="deleteCharacter(char_alias._id)")
          md-icon close
          | delete
