.container
  .md-layout.mt-1(v-if="isLoading")
    template
      spinner

  .character-sheet(v-if="!isLoading")
    .character-bar
      .character-name {{ Character.name | capitalize }}
      .character-race-class 
        span(v-if="!Character.subrace") {{ Character.race | capitalize }} 
        span(v-if="Character.subrace") {{ Character.race | capitalize }} 
        span {{ Character.clas | capitalize }}
      .character-level 
        span lv. 
        | {{ Character.level }}

    .golden-border
      .stat-block Strength: {{ Character.characterStrength }}
      .stat-block Dexterity: {{ Character.characterDexterity }}
      .stat-block Constitution: {{ Character.characterConstitution }}
      .stat-block Intelligence: {{ Character.characterIntelligence }}
      .stat-block Wisdom: {{ Character.characterWisdom }}
      .stat-block Charisma: {{ Character.characterCharisma }}
