.container
  .md-layout(v-if="isLoading")
    .md-layout-item
      template
        spinner

  .md-layout(v-if="!isLoading")
    .md-layout-item.golden-border.md-medium-size-100.md-large-size-50.md-xlarge-size-33(v-for="char in Character")
      router-link.md-title(:to="'/charsheet/' + char._id") {{ char.name }}
      .md-body
        | lvl. {{ char.level }} {{ char.race }} 
        span(v-if="char.subrace") ({{ char.subrace }}) 
        | / {{ char.clas }}
        br
        | Background: {{ char.background }}.
        br
        | S:{{ char.strength }} D:{{ char.dexterity }} C:{{ char.constitution }} 
        | I:{{ char.intelligence }} W:{{ char.wisdom }} Ch:{{ char.charisma }}
        br
        a.delete-icon(@click="deleteCharacter(char._id)")
          md-icon close
          | delete
