@import "./sass/golden-borders"

@import "~vue-material/dist/theme/engine"
@include md-register-theme("default", (primary: white, accent: #ecbe57, theme: dark))
@import "~vue-material/dist/theme/all"

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

body
  background: #000 url('assets/bg-simple-1440.56.jpg') repeat-y center top / cover
  background-attachment: fixed

.container
  margin: 0

// Grand Typographics
h3
  margin: 0 0 1rem

h4
  margin: 0 0 1rem

.title-h4
  font-weight: bold
  margin: 0.5rem 0

.md-subheading
  span
    color: #666

// Tables

// Kostyli
.m-1
  margin: 1rem

.mb-1
  margin-bottom: 1rem

.mb-2
  margin-bottom: 2rem

.mt-1
  margin-top: 1rem

// Dialogs
.dialog

  .md-layout
    padding: 0 24px

// View Characters
.delete-icon
  cursor: pointer
  text-decoration: none

// Create / Edit Character
// == Forms
.input-inline
  display: inline-block
  width: auto

.input-short
  width: 4rem

.md-checkbox
  margin: 0 16px 0 0
  width: 100%

.md-field
  margin-bottom: 12px

.ability-input
  margin-bottom: 24px

  label
    width: 100%
    text-align: center
    color: #4dde14!important
    font-weight: bold

  .md-input
    width: 40px
    min-width: 40px
    text-align: center
    font-size: 18px

  .md-helper-text
    width: 100%
    font-size: 12px
    text-align: center

  .modifier-bubble
    font-weight: bold

.ability-swap-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  justify-content: center

.ability-swap
  width: 24px!important
  min-width: 24px!important
  height: 24px!important
  background-color: #ecbe57
  margin: 0 6px 0 0

  &:nth-child(2)
    margin: 0

// == Texts
.feat-list

.feat-list-item
  margin-bottom: 0.75rem

.feat-name
  font-weight: bold
  font-size: 1rem

.feat-description
  font-style: italic
  color: #999
