@import "./sass/golden-borders"

@import "~vue-material/dist/theme/engine"
@include md-register-theme("default", (primary: white, accent: #ecbe57, theme: dark))
@import "~vue-material/dist/theme/all"

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

body
  background: #000 url('assets/bg-simple-1440.56.jpg') repeat-y center top / cover
  background-attachment: fixed

.container
  margin: 0

// Grand Typographics
h3
  margin: 0 0 1rem

h4
  margin: 0 0 1rem

.title-h4
  font-weight: bold
  margin: 0.5rem 0
  padding: 4px 8px
  border: 1px solid #2c3e50
  width: 80%

.md-subheading
  span
    color: #666

// Tables

// Kostyli
.m-1
  margin: 1rem

.mt-0
  margin-top: 0!important

.mb-1
  margin-bottom: 1rem

.mb-2
  margin-bottom: 2rem

.mt-1
  margin-top: 1rem

// Dialogs
.dialog

  .md-layout
    padding: 0 24px

// View Characters
.delete-icon
  cursor: pointer
  text-decoration: none

// Create / Edit Character
// == Forms
.input-inline
  display: inline-block
  width: auto

.input-short
  width: 4rem

.md-checkbox
  margin: 0 16px 0 0
  width: 100%

.md-field
  margin-bottom: 12px

.md-field.md-has-textarea:not(.md-autogrow) .md-textarea
  min-height: 76px

.md-checkbox .md-checkbox-container::before
  width: 24px
  height: 24px

.ability-input
  margin-bottom: 24px

  label
    width: 100%
    text-align: center
    color: #4dde14!important
    font-weight: bold

  .md-input
    width: 40px
    min-width: 40px
    text-align: center
    font-size: 18px

  .md-helper-text
    width: 100%
    font-size: 12px
    text-align: center

  .modifier-bubble
    font-weight: bold

.ability-swap-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  justify-content: center

.ability-swap
  width: 24px!important
  min-width: 24px!important
  height: 24px!important
  background-color: #ecbe57
  margin: 0 6px 0 0

  &:nth-child(2)
    margin: 0

// == Texts
.feat-list
  list-style-type: none
  padding-left: 0
  column-count: 3

.feat-list-item
  width: 100%
  display: inline-block
  margin-bottom: 0.75rem

.feat-name
  font-weight: bold
  font-size: 1rem

.feat-description
  font-style: italic
  color: #999

// =======================
// View and edit charsheet
// =======================
.character-sheet

.character-bar
  position: relative
  background-color: #111
  color: #ecbe57
  padding: 0.5rem 1.5rem

.character-name
  font-size: 1.75rem
  line-height: 2rem

.character-race-class
  font-size: 1.125rem
  color: #aaa
  font-style: italic

.character-level
  position: absolute
  right: 1rem
  top: 50%
  margin-top: -2.25rem
  border: 3px solid #ecbe57
  border-radius: 50%
  width: 4.5rem
  height: 4.5rem
  text-align: center
  font-weight: bold
  font-size: 1.5rem
  line-height: 2rem
  padding: 1rem 0

  span
    font-size: 1rem
    color: #aaa

// Attribute columns
.character-attributes
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start

.attribute-column
  width: 225px
  margin-right: 2rem

.attribute-name
  font-size: 1.25rem
  font-weight: bold

.attribute-bg
  display: inline-block
  // background-color: rgba(236,190,90,0.15)
  margin: 0.5rem 0
  padding: 0

.attribute-value
  display: inline-block
  position: relative
  top: -0.5rem
  padding: 0.95rem 0 0
  width: 3rem
  height: 3rem
  text-align: center
  font-size: 1.5rem
  background: transparent url('assets/frame-square.svg') no-repeat center top / cover
  margin-right: 0.75rem

.attribute-modifier
  display: inline-block
  position: relative
  top: -0.5rem
  padding: 1.45rem 0 0
  width: 4rem
  height: 4rem
  text-align: center
  font-size: 1.5rem
  background: transparent url('assets/frame-dodec.svg') no-repeat

.attribute-skills

.attribute-skills-item
  font-size: 1rem
  height: 24px
  line-height: 24px
  padding-left: 32px

  &.skillStar
    background-color: rgba(236,190,90,0.15)

.skillStar::before
  position: absolute
  width: 16px
  height: 16px
  margin-left: -26px
  margin-top: 5px
  content: ''
  background: transparent url('assets/attribute.svg') repeat-y center top / cover

.roll-button
  position: relative
  float: right
  margin: 3px 0 0
  border: none

@media screen and (max-width: 1280px)
  .feat-list
    column-count: 1
